<div class="container-fluid" id="stistics-overview">
    <div class="row mt-4">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 mt-2">
            <div class="card top-four-cards upper-section w-100 mat-elevation-z6">
                <div class="card-body">
                    <div class="iconbg">
                        <img src="assets/active-users.png" alt="Active Users" height="30" width="30">
                    </div>
                    <div class="card-title">
                        <h5>Active Users</h5>
                        <h4>243</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 mt-2">
            <div class="card top-four-cards upper-section w-100 mat-elevation-z6">
                <div class="card-body">
                    <div class="iconbg">
                        <img src="assets/new-urls.png" alt="New Urls" height="30" width="30">
                    </div>
                    <div class="card-title">
                        <h5>New URLs <span class="h6 text-white">(Last 30 Days)</span></h5>
                        <h4>10</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 mt-2">
            <div class="card top-four-cards upper-section w-100 mat-elevation-z6">
                <div class="card-body">
                    <div class="iconbg">
                        <img src="assets/disable-url.png" alt="Disable Urls" height="30" width="30">
                    </div>
                    <div class="card-title">
                        <h5>Disable URLs</h5>
                        <h4>10</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 mt-2">
            <div class="card top-four-cards upper-section w-100 mat-elevation-z6">
                <div class="card-body">
                    <div class="iconbg">
                        <img src="assets/total-clicks.png" alt="Total Clicks" height="30" width="30">
                    </div>
                    <div class="card-title">
                        <h5>Total Clicks</h5>
                        <h4>100</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mt-2">
            <div class="card last-four-cards w-100 mat-elevation-z6 second-section">
                <div class="card-body">
                    <h5>New Short URLs (Last 15 Days)</h5>
                    <div class="new-short-url" *ngIf="isNewShortUrlsData">
                        No Data Found
                        <!-- https://www.amcharts.com/demos-v4/clustered-column-chart-v4/ -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mt-2">
            <div class="card last-four-cards w-100 mat-elevation-z6 second-section">
                <div class="card-body">
                    <h5>URLs Status</h5>
                    <div class="new-short-url" *ngIf="isUrlStatusData">
                        No Data Found
                        <!-- https://www.amcharts.com/demos-v4/pie-chart-v4/ -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mt-2">
            <div class="card last-four-cards w-100 mat-elevation-z6 second-section">
                <div class="card-body">
                    <h5>Devices</h5>
                    <h6 class="card-subtitle text-white">(Click count by devices)</h6>
                    <div class="new-short-url" *ngIf="isNewShortUrlsData">
                        No Data Found
                    </div>
                    <div class="thirdRow" id="devices"></div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mt-2">
            <div class="card last-four-cards w-100 mat-elevation-z6 second-section">
                <div class="card-body">
                    <h5>Browsers</h5>
                    <h6 class="card-subtitle text-white">(Click count by browsers)</h6>
                    <div class="new-short-url" *ngIf="isUrlStatusData">
                        No Data Found
                    </div>
                    <div class="thirdRow" id="browsers"></div>
                </div>
            </div>
        </div>
    </div>
</div>
