<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
            <mat-form-field class="w-50">
                <mat-label>Short URL</mat-label>
                <mat-select>
                    <mat-option>Extra cheese</mat-option>
                    <mat-option>Mushroom</mat-option>
                    <mat-option>Onion</mat-option>
                    <mat-option>Pepperoni</mat-option>
                    <mat-option>Sausage</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
</div>
