<div id="two-factor-authentication-title" mat-dialog-title class="h4 text-white">
    Enable: Two-Factor Authentication
</div>

<div mat-dialog-content class="mb-12">
    <p id="two-factor-instruction-step-one" class="mb-2">
        <span class="text-white">Step 1: </span>
        <span id="two-factor-instruction-qr-info" class="text-white">
            First, scan the QR code in your preferred two-factor authentication app, such as Google Authenticator or Microsoft Authenticator.
        </span>
    </p>
    <div class="mb-2 d-flex justify-content-center">
        <img id="qr-code-and-email-image" [src]="qrCodeImageUrl">
    </div>

    <div id="two-factor-instruction-secret-info" class="mb-2" >
        <p id="two-factor-instruction-secret-info" class="mb-2 text-white">Having trouble scanning the image? Enter this key in your app instead:</p>
        <p id="two-factor-instruction-secret-info-label"class="mb-2 text-white secret_key"><span class="secret_key_title">Secret Key: </span> {{secret_key}}</p>
    </div>

    <p id="two-factor-instruction-step-two-info" class="text-white"><span id="two-factor-instruction-step-two" class="text-white">Step 2: </span>Next, enter the 6-digit authentication code provided by your app</p>
    <form name="totpForm" [formGroup]="totpForm" novalidate>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label id="totp-input-label">Authentication Code</mat-label>
            <input id="totp-authentication" type="password" matInput formControlName="totp" required>
            <mat-icon matSuffix class="secondary-text" style="color: #4359df;">vpn_key</mat-icon>
            <mat-error id="totp-required-error" *ngIf="totpForm.controls['totp'].hasError('required')">
                An authentication code is required.
            </mat-error>
            <mat-error id="totp-required-error" *ngIf="totpForm.controls['totp'].hasError('maxlength')">
                The authentication code must not exceed 6 digits.
            </mat-error>
            <mat-error id="totp-required-error" *ngIf="totpForm.controls['totp'].hasError('pattern')">
                Please enter only number except special character, space, character.
            </mat-error>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions class="container-fluid">
    <div class="row">
        <button id="enable-two-factor" (click)="onSubmit()" [disabled]="totpForm.invalid" class="col-xs-12 col-sm-12 col-md-6" mat-raised-button>Enroll</button>
        <button id='cancel-button' class="col-xs-12 col-sm-12 col-md-5 ml-2" (click)="closeDialog()" mat-raised-button>Cancel</button>
    </div>
</div>