#enable-two-factor {
    background-color: #4359df;
    color: white;
}

#enable-two-factor:disabled {
    background-color: #4359df;
    color: white;
    opacity: 0.4;
}

#qr-code-and-email-image {
    width: 150px;
    height: 150px;
}

.secret_key_title{
    color: #4359df;
}

.secret_key {
    word-break: break-all;
}


@media screen and (max-width: 768px) {
    #cancel-button {
        margin-top: 5px;
    }
}