<div class="container-fluid">
    <div class="row">

        <div class="col-12 mt-4 text-header text-white display-3">
            Meet the <span class="sub-text-header font-weight-bold">Team</span>
        </div>

        <div class="team-main-section">
            <div class="cols">
                <span class="arrow-pointing-to-image"></span>
                <img src="assets/person.jpg" alt="person seeing someone">   
            </div>
            <div class="cols text-white font-weight-bold">
                <h1>Swaraj Kumar</h1>
                <p>Founder & CEO</p>

                <div class="social-link">
                    <i class="fa-brands fa-facebook-square"></i>
                    <a class="link-decoration" target="_blank" href="https://twitter.com/SwarajV5"><i class="fa-brands fa-twitter-square"></i></a> 
                    <a class="link-decoration" target="_blank" href="https://www.linkedin.com/in/swaraj-kumar5/"><i class="fa-brands fa-linkedin"></i></a> 
                </div>
            </div>
        </div>
    </div>
</div>
