.login_bg {
    background-image: url('/assets/signup_login.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    width: 100%;
    height: 100vh; 

    .welcome_back {
        font-size: 32px;
        font-weight: 700;
    }

    .custom_button {
        background-color: #4AFFA8;
        color: #1e1f31;
        border-radius: 30px;
        width: 224px !important;
    }

    .linkStyling {
        color: #4AFFA8;
        font-size: 16px;
        font-weight: 400;
    }
}
  

::ng-deep {
    .bg-image > mat-dialog-container {
        background-color: #1e1f31 !important;
    }
}