<div class="container-fluid">
    <div class="row">
        <div  class="col-md-7 col-lg-7 col-xl-7">
            <div>
                <a [routerLink] = "['/Home']" class="navbar-brand">
                    <img src="assets/URL.png" style="width:40px;">
                    <span id="url-shortner-image">URL Shortner</span>
                </a>
            </div>
            <div class="custom_carousel mt-5 login_image_section">
                <img *ngFor="let image of imagesContainer; let i=index;" 
                [src]="image.imageSrcUrl" [alt]="image.imageAlt" class="fade" [ngClass]="{'image-active': selectedIndex === i}">
            
                <!-- Dots -->
                <div *ngIf="indicator" class="carousel-dot-container">
                    <span *ngFor="let dot of imagesContainer;let i=index;" 
                           class="dot" [ngClass]="{'active': selectedIndex === i}"
                           (click)="selectImage(i)">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 mt-md-5 mt-sm-2 mt-xs-1 mt-lg-5">
            <div id="login_text" class="col-12 font-weight-bold">
                Log in
            </div>
            <div id="login_sub_text" class="col-12 font-weight-bold">
                Welcome to the URL Shortner. Please put your login credentials below to start using this app.
            </div>
            <div class="mt-5">
                <form [formGroup]="loginForm" name="loginForm" #updateLoginForm = "ngForm" (ngSubmit)="onSubmit()" novalidate>
                    <app-custom-input
                        [label]="'Email'"
                        [matLabelId]="'email-input-label'"
                        [inputId]="'email-input'"
                        [type]="'email'"
                        [control]="emailControl"
                        [required]="true"
                        [icon]="'mail'"
                        [iconClass]="'secondary-text'"
                        [iconColor]="'#4359df'"
                        [fieldClass]="'field col-12'"
                        [placeholder]="'Enter your email'"
                        [appearance]="'outline'"
                        [errorMessages]="{ required: 'Email is required.', email: 'Please enter a valid email.' }">
                    </app-custom-input>
                    
                     <app-custom-input
                        [label]="'Password'"
                        [matLabelId]="'password-input-label'"
                        [inputId]="'password-input'"
                        [type]="'password'"
                        [control]="passwordControl"
                        [required]="true"
                        [icon]="'vpn_key'"
                        [appearance]="'outline'"
                        [iconClass]="'secondary-text'"
                        [iconColor]="'#4359df'"
                        [fieldClass]="'field col-12'"
                        [placeholder]="'Enter your password'"
                        [errorMessages]="{ required: 'Password is required.', minlength: 'Password must contain at least 8 characters.', noSpace: 'Password must not contain space.' }">
                    </app-custom-input>
                    
                    <div class="d-flex col-12 font-weight-bold">
                        <div class="mr-auto">
                            <mat-checkbox id="remember_me">Remember me</mat-checkbox>
                        </div>
                        <div>
                            <a href="#" class="linkStyling">Forgot password?</a>
                        </div>
                    </div>
                    
                    <div class="col-12 mt-3">
                        <button class="loginButton col-12" [disabled]="loginForm.invalid" mat-raised-button>Login</button>
                    </div>
                    
                    <div class="col-12 text-center font-weight-bold mt-4">
                        <p style="color: #4359df;">Don't have an account? <a [routerLink]="['/signup']" class="linkStyling">Sign up</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>