<div class="container-fluid login_bg">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-6 d-flex flex-column align-items-center justify-content-center vh-100">
            <div class="text-white text-center welcome_back">
                WELCOME BACK!
            </div>
            <div class="text-white text-center mt-5">
                Enter your personal info to get
                <br> started with us
            </div>
            <div class="text-center mt-5">
                <button class="custom_button" mat-flat-button>Sign up</button>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 d-flex flex-column align-items-center justify-content-center vh-100">
           <div style="width: 600px;background-color: #333B5D8A;border-radius: 15px;">
                <div class="text-white mt-5" style="font-weight: 700;font-size: 24px;padding: 0px 91px;">
                    LOG IN
                </div>
                <div class="mt-4" style="padding: 0px 78px;">
                    <form [formGroup]="loginForm" name="loginForm" #updateLoginForm = "ngForm" (ngSubmit)="onSubmit()" novalidate>
                        <app-custom-input
                            [label]="'Email'"
                            [matLabelId]="'email-input-label'"
                            [inputId]="'email-input'"
                            [type]="'email'"
                            [control]="emailControl"
                            [required]="true"
                            [icon]="'mail'"
                            [iconClass]="'secondary-text'"
                            [iconColor]="'#ffffff'"
                            [fieldClass]="'field col-12'"
                            [placeholder]="'Enter your email'"
                            [appearance]="'outline'"
                            [errorMessages]="{ required: 'Email is required.', email: 'Please enter a valid email.' }">
                        </app-custom-input>
                        
                         <app-custom-input
                            [label]="'Password'"
                            [matLabelId]="'password-input-label'"
                            [inputId]="'password-input'"
                            [type]="'password'"
                            [control]="passwordControl"
                            [required]="true"
                            [icon]="'vpn_key'"
                            [appearance]="'outline'"
                            [iconClass]="'secondary-text'"
                            [iconColor]="'#ffffff'"
                            [fieldClass]="'field col-12 mt-2'"
                            [placeholder]="'Enter your password'"
                            [errorMessages]="{ required: 'Password is required.', minlength: 'Password must contain at least 8 characters.', noSpace: 'Password must not contain space.' }">
                        </app-custom-input>


                        <a href="#" class="linkStyling pl-3">Forgot password?</a>
                        <br>
                        <mat-checkbox class="remember_me" formControlName="remember_me">Remember me</mat-checkbox>
                    </form>
                </div>
           </div>
        </div>
    </div>
</div>


<!-- <div class="container-fluid">
    <div class="row">
        <div  class="col-md-7 col-lg-7 col-xl-7">
            <div>
                <a [routerLink] = "['/Home']" class="navbar-brand">
                    <img src="assets/URL.png" style="width:40px;">
                    <span id="url-shortner-image">URL Shortner</span>
                </a>
            </div>
            
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 mt-md-5 mt-sm-2 mt-xs-1 mt-lg-5">
            <div id="login_text" class="col-12 font-weight-bold">
                Log in
            </div>
            <div id="login_sub_text" class="col-12 font-weight-bold">
                Welcome to the URL Shortner. Please put your login credentials below to start using this app.
            </div>
            <div class="mt-5">
                <form [formGroup]="loginForm" name="loginForm" #updateLoginForm = "ngForm" (ngSubmit)="onSubmit()" novalidate>
                    <app-custom-input
                        [label]="'Email'"
                        [matLabelId]="'email-input-label'"
                        [inputId]="'email-input'"
                        [type]="'email'"
                        [control]="emailControl"
                        [required]="true"
                        [icon]="'mail'"
                        [iconClass]="'secondary-text'"
                        [iconColor]="'#4359df'"
                        [fieldClass]="'field col-12'"
                        [placeholder]="'Enter your email'"
                        [appearance]="'outline'"
                        [errorMessages]="{ required: 'Email is required.', email: 'Please enter a valid email.' }">
                    </app-custom-input>
                    
                     <app-custom-input
                        [label]="'Password'"
                        [matLabelId]="'password-input-label'"
                        [inputId]="'password-input'"
                        [type]="'password'"
                        [control]="passwordControl"
                        [required]="true"
                        [icon]="'vpn_key'"
                        [appearance]="'outline'"
                        [iconClass]="'secondary-text'"
                        [iconColor]="'#4359df'"
                        [fieldClass]="'field col-12'"
                        [placeholder]="'Enter your password'"
                        [errorMessages]="{ required: 'Password is required.', minlength: 'Password must contain at least 8 characters.', noSpace: 'Password must not contain space.' }">
                    </app-custom-input>
                    
                    <div class="d-flex col-12 font-weight-bold">
                        <div class="mr-auto">
                            <mat-checkbox id="remember_me" formControlName="remember_me">Remember me</mat-checkbox>
                        </div>
                        <div>
                            <a href="#" class="linkStyling">Forgot password?</a>
                        </div>
                    </div>
                    
                    <div class="col-12 mt-3">
                        <button class="loginButton col-12" [disabled]="loginForm.invalid" mat-raised-button>Login</button>
                    </div>
                    
                    <div class="col-12 text-center font-weight-bold mt-4">
                        <p style="color: #4359df;">Don't have an account? <a [routerLink]="['/signup']" class="linkStyling">Sign up</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->