// Font sizes
$font-size-lg: 32px;
$font-size-md: 24px;
$font-size-sm: 16px;

// Font Bold
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

// Colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #f8f9fa;


$custom-bg-color: #77FF00;
$custom-text-color: black;
$custom-shadow-color: rgba(119, 255, 0, 0.3);
$custom-border-radius: 30px;