@use '../../../styles/mixins' as *;

.set_view_port {
    height: 100vh;

    .signup-form-card {
        @include card-style(white, 15px, 75%, 90%, 30px, 70px);
        display: flex;
        flex-direction: column;
        align-items: start; 
    }

    .custom-icon {
        width: 50%;
        height: auto;
        object-fit: contain;
    }
}