<div class="container-fluid">
    <div class="row">
        <div  class="col-md-7 col-lg-7 col-xl-7">
            <div>
                <a [routerLink] = "['/Home']" class="navbar-brand">
                    <img src="assets/URL.png" style="width:40px;">
                    <span id="url-shortner-image">URL Shortner</span>
                </a>
            </div>

            <div class="custom_carousel mt-5 signup_image_section">
                <img *ngFor="let image of imagesContainer; let i=index;" 
                [src]="image.imageSrcUrl" [alt]="image.imageAlt" class="fade" [ngClass]="{'image-active': selectedIndex === i}">
            
                <!-- Dots -->
                <div *ngIf="indicator" class="carousel-dot-container">
                    <span *ngFor="let dot of imagesContainer;let i=index;" 
                           class="dot" [ngClass]="{'active': selectedIndex === i}"
                           (click)="selectImage(i)">
                    </span>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 mt-md-5 mt-sm-2 mt-xs-1 mt-lg-5">
            <div id="signup_text" class="col-12 font-weight-bold">
                Sign Up
            </div>
            <div id="signup_sub_text" class="col-12 font-weight-bold">
                Create your account
            </div>
            <div class="mt-5">
                <form [formGroup]="signupForm" name="signupForm" #updateSignupForm = "ngForm" (ngSubmit)="onSubmit()" novalidate>
                    <app-custom-input
                        [label]="'Name'"
                        [matLabelId]="'name-field-label'"
                        [inputId]="'name-input'"
                        [type]="'text'"
                        [control]="nameControl"
                        [required]="true"
                        [icon]="'person'"
                        [iconClass]="'secondary-text'"
                        [iconColor]="'#4359df'"
                        [fieldClass]="'field col-12'"
                        [placeholder]="''"
                        [appearance]="'outline'"
                        [errorMessages]="{ required: 'Name is required.'}">
                    </app-custom-input>

                    <app-custom-input
                        [label]="'Email'"
                        [matLabelId]="'username-field-label'"
                        [inputId]="'username-input'"
                        [type]="'text'"
                        [control]="emailControl"
                        [required]="true"
                        [icon]="'mail'"
                        [iconClass]="'secondary-text'"
                        [iconColor]="'#4359df'"
                        [fieldClass]="'field col-12'"
                        [placeholder]="''"
                        [appearance]="'outline'"
                        [errorMessages]="{ required: 'Name is required.', email: 'Please enter a valid email.'}">
                    </app-custom-input>
                    
                    <app-custom-input
                        [label]="'Password'"
                        [matLabelId]="'password-field-label'"
                        [inputId]="'password-input'"
                        [type]="'password'"
                        [control]="passwordControl"
                        [required]="true"
                        [icon]="'vpn_key'"
                        [iconClass]="'secondary-text'"
                        [iconColor]="'#4359df'"
                        [fieldClass]="'field col-md-6'"
                        [placeholder]="''"
                        [appearance]="'outline'"
                        [errorMessages]="{ required: 'Password is required.', minlength: 'Password must contain at least 8 characters.', noSpace: 'Password must not contain space.' }">
                    </app-custom-input>

                    <app-custom-input
                        [label]="'Confirm Password'"
                        [matLabelId]="'confirm-password-field-label'"
                        [inputId]="'confirm-password-field-input'"
                        [type]="'password'"
                        [control]="confirmPasswordControl"
                        [required]="true"
                        [icon]="'vpn_key'"
                        [iconClass]="'secondary-text'"
                        [iconColor]="'#4359df'"
                        [fieldClass]="'field col-md-6'"
                        [placeholder]="''"
                        [appearance]="'outline'"
                        [errorMessages]="{ required: 'Password is required.', notSame: 'Password and Confirm Password must be same.'}">
                    </app-custom-input>

                    <div class="col-12 font-weight-bold">
                        <div class="mr-auto">
                            <mat-checkbox formControlName="termsAndCondition" (click)="this.signupForm.controls['termsAndCondition'].getRawValue() === true ? openDialog() : null" id="terms_and_condition">I agree to the terms and condition</mat-checkbox>
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        <button type="submit" class="signupButton col-12" [disabled]="signupForm.invalid || !this.signupForm.controls['termsAndCondition'].getRawValue()" mat-raised-button>Sign Up {{!this.signupForm.controls['termsAndCondition'].getRawValue()}} {{signupForm.invalid}}</button>
                    </div>

                    <div class="col-12 text-center font-weight-bold mt-4">
                        <p style="color: #4359df;">Already have an account? <a [routerLink]="['/login']" class="linkStyling">Login</a></p>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>