<div class="container-fluid login_bg">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-6 d-flex flex-column align-items-center justify-content-center vh-100">
            <div class="text-white text-center welcome_back">
                WELCOME TO URL SHORTNER
            </div>
            <div class="text-white text-center mt-5">
                Enter your personal info to get
                <br> started with us
            </div>
            <div class="text-center mt-5">
                <button class="custom_button_login_signup" mat-flat-button (click)="navigateTo()">Log In</button>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 d-flex flex-column align-items-center justify-content-center vh-100">
            <div style="width: 600px;background-color: #333B5D8A;border-radius: 15px;">
                <div class="text-white mt-5" style="font-weight: 700;font-size: 24px;padding: 0px 81px;">
                    Sign Up
                </div>
                <div class="mt-4" style="padding: 0px 70px;">
                    <form [formGroup]="signupForm" name="signupForm" #updateLoginForm="ngForm" novalidate>
                        <app-custom-input [label]="'Name'" [matLabelId]="'name-field-label'" [inputId]="'name-input'"
                            [type]="'text'" [control]="nameControl" [required]="true" [icon]="'person'"
                            [iconClass]="'secondary-text'" [iconColor]="'#ffffff'" [fieldClass]="'field col-12'"
                            [placeholder]="''" [appearance]="'outline'"
                            [errorMessages]="{ required: 'Name is required.'}">
                        </app-custom-input>

                        <app-custom-input [label]="'Email'" [matLabelId]="'username-field-label'"
                            [inputId]="'username-input'" [type]="'text'" [control]="emailControl" [required]="true"
                            [icon]="'mail'" [iconClass]="'secondary-text'" [iconColor]="'#ffffff'"
                            [fieldClass]="'field col-12'" [placeholder]="''" [appearance]="'outline'"
                            [errorMessages]="{ required: 'Name is required.', email: 'Please enter a valid email.'}">
                        </app-custom-input>

                        <app-custom-input [label]="'Password'" [matLabelId]="'password-field-label'"
                            [inputId]="'password-input'" [type]="'password'" [control]="passwordControl"
                            [required]="true" [icon]="'vpn_key'" [iconClass]="'secondary-text'" [iconColor]="'#ffffff'"
                            [fieldClass]="'field col-12'" [placeholder]="''" [appearance]="'outline'"
                            [errorMessages]="{ required: 'Password is required.', minlength: 'Password must contain at least 8 characters.', noSpace: 'Password must not contain space.' }">
                        </app-custom-input>

                        <app-custom-input [label]="'Confirm Password'" [matLabelId]="'confirm-password-field-label'"
                            [inputId]="'confirm-password-field-input'" [type]="'password'"
                            [control]="confirmPasswordControl" [required]="true" [icon]="'vpn_key'"
                            [iconClass]="'secondary-text'" [iconColor]="'#ffffff'" [fieldClass]="'field col-12'"
                            [placeholder]="''" [appearance]="'outline'"
                            [errorMessages]="{ required: 'Password is required.', notSame: 'Password and Confirm Password must be same.'}">
                        </app-custom-input>

                        <mat-checkbox formControlName="termsAndCondition"
                            (click)="this.signupForm.controls['termsAndCondition'].getRawValue() === true ? openDialog() : null"
                            class="terms_and_condition mt-4">Agree to terms & conditions</mat-checkbox>

                        <div class="mt-4 text-white text-center">
                            --------------- or login with -------------------
                        </div>

                        <div class="mt-4 d-flex justify-content-center">
                            <button class="social_button" mat-mini-fab
                                aria-label="Example icon button with a custom icon">
                                <img src="assets/google.png" alt="Custom Icon" class="custom-icon">
                            </button>
                            <button mat-mini-fab class="ml-4 social_button"
                                aria-label="Example icon button with a custom icon">
                                <img src="assets/microsoft.png" alt="Custom Icon" class="custom-icon">
                            </button>
                        </div>

                        <div class="mt-5 mb-3 text-center">
                            <button class="custom_button_login_signup" (click)="onSubmit()" mat-flat-button>Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>