.terms_and_condition {
    background-color: #3E4065;

    .accept_button {
        background-color: #4AFFA8;
        border-radius: 30px;
        padding: 20px !important;
    }

    .cancel_button {
        border-radius: 30px;
        color: white;
        border: 1px solid white;
        padding: 20px !important;
    }
}