.enable_two_factor_auth {
    background-color: #3E4065;

    .rectangle_section {
        .first_dialog_rectangle {
            border-radius: 11px;
            background-color: #4AFFA8;
            height: 10px;
        }
    
        .disable_dialog_rectangle {
            border-radius: 11px;
            background-color: #d9d9d9;
            height: 10px;
        }
    }

    .enable_auth_title {
        margin-top: 38px;
        font-weight: 700;
        font-size: 20px;
    }

    .step_1 {
        font-weight: 700;
        margin-top: 27px;
        font-size: 20px;
    }

    .qr_code {
        margin-top: 19px;
        .qr_code_image {
            border-radius: 15px;
        }
    }

    .qr_code_text {
        margin-top:  16px;
        font-size: 16px;
        font-weight: 300;
    }

    .line_1 {
        margin-top: 26px;
    }

    .text_1 {
        margin-top: 26px;
        font-size: 16px;
        font-weight: 500;
    }

    .secret_key {
        background-color: #171717;
        border-radius: 10px;
        padding: 16px 0px;
        margin-top: 15px;

        mat-icon {
            color: #4AFFA8;
        }
    }

    .last_section {
        margin-top: 64px;
    }

    .enroll_second_section {
        margin-top: 228px;
    }

    .first_page {
        border-radius: 30px;
        border: 1px solid #FFFFFF;
        padding: 11px 0px 11px 0px;
        width: 86px;

        .content {
            font-size: 14px;
        }
    }

    .second_page {
        border-radius: 30px;
        background-color: #4AFFA8;
        width: 138px;
        padding: 11px 0px 11px 0px;
        cursor: pointer;

        .content {
            font-size: 14px;
        }
    }


    .cancel_button {
        border-radius: 30px;
        border: 1px solid #4AFFA8;
        padding: 11px 0px 11px 0px;
        width: 138px;
        cursor: pointer;

        .content {
            font-size: 14px;
            color: #4AFFA8;
        }
    }

    .otp_input_fields {
        margin-top: 40px;
        padding: 0px 100px;
    }
}

#enable-two-factor {
    background-color: #4359df;
    color: white;
}

#enable-two-factor:disabled {
    background-color: #4359df;
    color: white;
    opacity: 0.4;
}

#qr-code-and-email-image {
    width: 150px;
    height: 150px;
}

.secret_key_title{
    color: #4359df;
}

.secret_key {
    word-break: break-all;
}


@media screen and (max-width: 768px) {
    #cancel-button {
        margin-top: 5px;
    }
}