
 <!-- Navbar for URL Shortner -->
<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="assets/URL.png" style="width:40px;">
            <span id="url-shortner-image">URL Shortner</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navResponsive">
            <ul class="navbar-nav ml-auto"> 
                <!-- ml-auto push our content to the right of the navbar -->
                <li class="nav-item">
                    <a class="nav-link" [routerLink] = "['/Home']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink] = "['/login']" style="cursor: pointer;">Log In</a>
                </li>
                <li class="nav-item" id="sign-up-btn">
                    <a class="nav-link" [routerLink] = "['/signup']" style="cursor: pointer;">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main Content of the landing page -->
<div class="container-fluid">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <h3 class="wow animate__animated animate__fadeInDown display-4 mt-lg-5 mt-xs-2 ml-xs-2 ml-lg-5 font-weight-bold" style="color: #4359df;">
                Welcome to URL Shortner
            </h3>
            <p class="wow animate__animated animate__fadeInDown lead ml-xs-2 ml-lg-5" style="color:#ffffff">
                URL Shortner is a web application that allows you to shorten your long URLs.
                It is a free service that is provided by URL Shortner.
            </p>
            <a href="#" id="get_started_btn" class="wow animate__animated animate__fadeInDown ml-xs-2 ml-lg-5 mt-lg-5">
                Get Started
            </a>
        </div>

        <div class="col-md-7 col-lg-7" id="web-animation-section">
            <div id="images">
                <div class="web-related-icons">
                    <img class="web_icon_styling" src="assets/website.png" alt="World Wide Web(WWW)">
                    <img class="web_icon_styling" src="assets/browser.png" alt="Browser">
                    <img class="web_icon_styling" src="assets/web-page.png" alt="Web Page">
                    <img class="web_icon_styling" src="assets/search.png" alt="Searching in Websites">
                    <img class="web_icon_styling" src="assets/share-link.png" alt="Link">
                </div>
                <img id="www" src="assets/www.png" alt="World Wide Web(WWW)">
            </div>
        </div>
    </div>
    <div class="row">
        <img src="assets/wave.png" alt="Wave" id="wave">
    </div>
</div>

<!-- Feature Section -->
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="wow animate__animated animate__fadeInDown display-4 font-weight-bold" style="color: #4359df;">
                Features
            </h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-5">
            <div class="card">
                <div class="card-body text-center pt-3">
                    <img src="assets/like.png" alt="Like" class="imageStyling wow animate__animated animate__fadeInDown">
                    <p class="lead wow animate__animated animate__fadeInUp">
                        ShortURL is easy and fast, enter the long link to get your shortened link.
                    </p>
                </div>
              </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-5">
            <div class="card">
                <div class="card-body text-center pt-3">
                    <img src="assets/profits.png" alt="Statistics" class="imageStyling wow animate__animated animate__fadeInDown">
                    <p class="lead wow animate__animated animate__fadeInUp">
                        Check the amount of clicks that your shortened url received.
                    </p>
                </div>
              </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-5">
            <div class="card">
                <div class="card-body text-center pt-3">
                    <img src="assets/link.png" alt="URL" class="imageStyling wow animate__animated animate__fadeInDown">
                    <p class="lead wow animate__animated animate__fadeInUp">
                        Use any link, no matter what size, ShortURL always shortens.
                    </p>
                </div>
              </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-5">
            <div class="card">
                <div class="card-body text-center pt-3">
                    <img src="assets/shield.png" alt="Shield" class="imageStyling wow animate__animated animate__fadeInDown">
                    <p class="lead wow animate__animated animate__fadeInUp">
                        It is fast and secure, our service have HTTPS protocol and data encryption.
                    </p>
                </div>
              </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-5">
            <div class="card">
                <div class="card-body text-center pt-3">
                    <img src="assets/responsive.png" alt="Devcies" class="imageStyling wow animate__animated animate__fadeInDown">
                    <p class="lead wow animate__animated animate__fadeInUp">
                        Compatible with smartphones, tablets and desktop.
                    </p>
                </div>
              </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-5">
            <div class="card">
                <div class="card-body text-center pt-3">
                    <img src="assets/check.png" alt="Reliable" class="imageStyling wow animate__animated animate__fadeInDown">
                    <p class="lead wow animate__animated animate__fadeInUp">
                        All links that try to disseminate spam, viruses and malware are deleted.
                    </p>
                </div>
              </div>
        </div>
    </div>
</div>

<!-- Footer Section -->
<footer>
    <div class="container-fluid">
        <div class="row customFooterTheme">
            <div class="col-12 pt-4 pl-4 pb-4">
                <a href="#" class="navbar-brand">
                    <img src="assets/URL.png" style="width:40px;">
                    <span id="url-shortner-image">URL Shortner</span>
                </a>
            </div>
            <div class="col-md-4 text-center text-white"> 
                <h5 class="wow animate__animated animate__fadeInUp ">Support</h5>
                <hr class="dark">
                <p class="wow animate__animated animate__fadeInUp ">Knowledge base</p>
                <p class="wow animate__animated animate__fadeInUp ">Find an expert</p>
                <p class="wow animate__animated animate__fadeInUp ">Request demo</p>
            </div>
            <div class="col-md-4 text-center text-white">
                <h5 class="wow animate__animated animate__fadeInUp ">Company</h5>
                <hr class="light">
                <p class="wow animate__animated animate__fadeInUp ">About us</p>
                <p class="wow animate__animated animate__fadeInUp ">Company Values</p>
                <p class="wow animate__animated animate__fadeInUp ">Webinars</p>
            </div>
            <div class="col-md-4 text-center text-white">
                <h5 class="wow animate__animated animate__fadeInUp ">Follow Us</h5>
                <hr class="light">
                <p class="wow animate__animated animate__fadeInUp ">Facebook</p>
                <p class="wow animate__animated animate__fadeInUp ">Instagram</p>
                <p class="wow animate__animated animate__fadeInUp ">YouTube</p>
                <p class="wow animate__animated animate__fadeInUp ">Twitter</p>
            </div>
        </div>
    </div>
</footer>