<div class="container-fluid">
    <section class="custom_navbar">
        <div class="navbar">
            <div class="brand_section">
                <div class="link-svgrepo-com">
                    <img width="40" height="40" src="../../assets/link_svgrepo.svg"/>
                </div>
                <div class="url-shortner">
                    Url Shortner
                </div>
            </div>
            <div class="section_1">
                <span class="home mrgnR">
                    Home
                </span>
                <span class="about mrgnR">
                    About
                </span>
                <span class="services mrgnR">
                    Services
                </span>
                <span class="team">
                    Team
                </span>
            </div>
            <div class="section_2">
                <div class="log-in mr-4" [routerLink]="['/login']">
                    Log in
                </div>
                <div class="signup_button" [routerLink]="['/signup']">
                    <span class="sign-up">
                        Sign up
                    </span>
                </div>
            </div>
        </div>
    </section>

    <!-- MAIN SECTION OF URL SHORTNER -->
    <section class="main_section">
        <div class="col-md-6">
            <p class="short-links-section">
                <span class="link_text">Short Links</span> for Smarter Sharing
            </p>
            <div class="url-shortner-text">
                URL Shortner is a web application that allows you to shorten your long URLs. It is a free service that is
                provided by URL Shortner
            </div>
            <div class="get-started-button" [routerLink]="['/signup']">
                <span class="get-started">
                    Get Started
                </span>
            </div>
        </div>

        <div class="col-md-6">
            <img src="./assets/main-landing.svg" alt="Link Image" width="450px" height="450px">
        </div>
    </section>

    <!-- BENEFITS SECTION OF URL SHORTNER -->
    <section class="benefits_section">
        <div class="col-12">
            <div class="section_title_container">
                <div class="rectangle-8"></div>
                <div class="benefits">
                    Benefits
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let benefit of benefits_sections_contents; let i = index">
                <div class="custom_card mb-4" [ngStyle]="{'background-color': benefit.bgColor}">
                    <div class="custom_card_group_1">
                        <img class="bolt" src="{{benefit.icons}}" width="46px" height="46px"/>
                    </div>
                    <span class="custom_card_group_2">
                        Short URL is easy and fast, enter the long link to get your shortened link.
                    </span>
                </div>
            </div>
        </div>
    </section>

    <!-- FAETURES SECTION OF URL SHORTNER -->
    <section class="benefits_section">
        <div class="col-12">
            <div class="section_title_container">
                <div class="rectangle-8"></div>
                <div class="benefits">
                    Features
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let feature of feature_sections_contents; let last = last">
                <div class="custom_feature_card">
                    <div class="rectangle_top_section"></div>
                    <div class="feature_title_section">
                        <div class="feature_icon">
                            <img src="{{feature.icons}}" alt="a">
                        </div>
                        <div class="feature_title">
                            {{feature.title}}
                        </div>
                    </div>
                    <div class="feature_content">
                        {{feature.content}}
                    </div>
                    <ng-container *ngFor="let points of feature.sub_points">
                        <div class="feature_sub_contents">
                            <img class="bullets" src="./assets/group-7.png" alt="">
                            <div class="sub_points">
                                {{points}}
                            </div>
                        </div>
                    </ng-container>

                    <div class="feature_get_started_button">
                        <span>
                            Get Started
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ACHIEVEMENTS SECTION OF URL SHORTNER -->
    <section class="benefits_section">
        <div class="col-12">
            <div class="section_title_container">
                <div class="rectangle-8"></div>
                <div class="benefits">
                    Achievements
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 text-white text-center justify-content-center">
                <img src="../../assets/achievements.png" alt="" width="358px" height="347px">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-md-6 p-4 achievements">
                        <span class="k">
                            500k
                        </span>
                        <span class="global-payments">
                            Global payments
                        </span>
                     </div>
                     <div class="col-xs-12 col-md-6 p-4 achievements">
                        <span class="k">
                            500k
                        </span>
                        <span class="global-payments">
                            Global payments
                        </span>
                     </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-6 p-4 achievements">
                        <span class="k">
                            500k
                        </span>
                        <span class="global-payments">
                            Global payments
                        </span>
                     </div>
                     <div class="col-xs-12 col-md-6 p-4 achievements">
                        <span class="k">
                            500k
                        </span>
                        <span class="global-payments">
                            Global payments
                        </span>
                     </div>
                </div>
            </div>
        </div>
    </section>


    <!-- TESTIMONIALS SECTION OF URL SHORTNER -->
    <section class="benefits_section">
        <div class="col-12">
            <div class="section_title_container">
                <div class="rectangle-8"></div>
                <div class="benefits">
                    Testimonials
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let feature of testimonials;">
                <div class="testimonial_card">
                    <div class="comma">
                        <img src="{{feature.comma_image}}" alt="Comma's">
                        <img src="{{feature.comma_image}}" alt="Comma's">
                    </div>

                    <div class="testimonial_text">
                        {{feature.quote}}
                    </div>

                    <div class="username">
                        {{feature.name}}
                    </div>

                    <div class="rating">
                        <img src="{{feature.rating_image}}" alt="Rating's">
                        <img src="{{feature.rating_image}}" alt="Rating's">
                        <img src="{{feature.rating_image}}" alt="Rating's">
                        <img src="{{feature.rating_image}}" alt="Rating's">
                        <img src="{{feature.rating_image}}" alt="Rating's">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TESTIMONIALS SECTION OF URL SHORTNER -->
    <section class="benefits_section">
        <div class="col-12">
            <div class="section_title_container">
                <div class="rectangle-8"></div>
                <div class="benefits">
                    FAQ's
                </div>
            </div>
        </div>

        <div class="row">
        
        </div>
    </section>    
    

    <!-- Footer -->
<footer class="text-white pt-4">
    <div class="benefits_section">
      <div class="row">
        <!-- First Column -->
        <div class="col-md-4">
            <div class="brand_section">
                <div class="link-svgrepo-com">
                    <img width="45" height="35" src="../../assets/link_svgrepo.svg"/>
                </div>
                <div style="font-size: 18px;">
                    Url Shortner
                </div>
            </div>
        </div>
        <!-- Second Column -->
        <div class="col-md-4">
            <div class="row text-center">
                <div>Home</div>
                <div class="mx-3">About</div>
                <div class="mx-3">Services</div>
                <div class="mx-3">Team</div>
            </div>
        </div>
        
        <!-- Fourth Column -->
        <div class="col-md-4">
            <div style="float: right;">
                <div class="text-white">Privacy Policy</div>
                <div class="text-white mt-2">Terms & Condition</div>
            </div>

        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
</div>