<mat-sidenav-container>
    <mat-sidenav mode="side" class="mat-elevation-z8" opened>
        <div class="url-shorten-image">
            <a href="#">
                <img src="assets/URL.png" style="width:32px;">
                <span id="url-shortner-image">URL Shortner</span>
            </a>
        </div>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" (click)="navigate('Dashbaord')">
            <mat-icon>dashboard</mat-icon>
            <span>Dashbaord</span>
        </button>
        
        <button mat-button class="menu-button" (click)="navigate('Tables')">
            <mat-icon>table_chart</mat-icon>
            <span>Tables</span>
        </button>

        <button mat-button class="menu-button" (click)="navigate('QR Generator')">
            <mat-icon>settings_overscan</mat-icon>
            <span>QR Generator</span>
        </button>

        <button mat-button class="menu-button" (click)="navigate('Profile')">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>

        <button mat-raised-button class="bottom-button">
            <span>UPGRADE TO PRO</span>
        </button>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            <div class="d-flex">
                <div class="p-2 mr-auto">
                    <button mat-icon-button >
                        <mat-icon style="color: #1e1f31;">home</mat-icon> {{currentSideNavItem}}
                    </button>
                </div>

                <div class="p-2">
                    <button id="logout-button" matTooltip="Logout" (click)="logout()" mat-icon-button>
                        <mat-icon>input</mat-icon>
                    </button>
                </div>
            </div>
            <app-url-shorten-table *ngIf="navContent"></app-url-shorten-table>
            <app-dashboard-main *ngIf="!navContent"></app-dashboard-main>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
