
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "Raleway", sans-serif; 
}

//CUSTOM CSS CODE FOR SCROLLBAR (START)
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #2cbac4;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #4359df, #3e7fd4);
    border-radius: 10px;
}

@import './styles/variable';
@import './styles/mixins';
@import './styles/utilities';
@import './styles/typography';
// @import './styles/colors';