// Import theming functions
@import '@angular/material/theming';

$dark_blue_grey: #ffffff;
$green: #00bf63;
$danger: #f44336;
$amber_orange: #ffbf00;
$light_grey: #ccc;

// https://stackoverflow.com/questions/75246804/mat-form-field-outline-border-color
::ng-deep {
    .mdc-text-field--outlined {
        --mdc-outlined-text-field-outline-width: 2px !important;
    }

    //The below code apply when the input field is empty or intial state of the input field
    .mdc-notched-outline > * {
        border-color: $dark_blue_grey !important;
    }

    // When field is valid and focused
    .mdc-text-field--focused .mdc-notched-outline > * {
        border-color: $green !important;
    }

    .mdc-text-field--focused .mat-mdc-form-field-flex .mat-mdc-floating-label {
        color: $green !important;
        font-weight: bold;
    }

    // When field is invalid 
    .mdc-text-field--invalid .mdc-notched-outline > * {
       border-color: $danger !important;
    }

    .mdc-text-field--invalid .mat-mdc-form-field-flex .mat-mdc-floating-label {
        color: $danger !important;
        font-weight: bold;
    }

    //Checkbox label
    .remember_me .mdc-label {
        color: #ffffff;
        margin-top: 5px;
    }

    // Change ripple circle effect back of checkbox
    .mat-mdc-checkbox.mat-accent .mdc-checkbox--selected ~ .mdc-checkbox__ripple {
        background: #ffffff !important;
    }

    //Change checkbox inner icon, color, width, height and position
    .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__checkmark {
        color: black !important;
    }

    //Change checkbox background color & border color
    .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:checked~.mdc-checkbox__background {
        border-color: transparent !important;
        background-color: #ffffff !important;
    }

    
}