#save-button {
    background-color: #1e1f31;
    color: white;
}

#save-button:disabled {
    background-color: #1e1f31;
    color: white;
    opacity: 0.4;
}

::ng-deep .mat-select-value{    
    color: black!important;
}