#add-button {
    background-color: #1e1f31;
    color: aliceblue;
    font-weight: 600;
}

table {
    width: 100%;
}

td {
    font-size: 9pt;
    overflow: hidden;
    word-wrap: break-word;
}

th {
    color: aliceblue;
}

.table-no-records-found {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    background-color: #4359df;
    color: aliceblue;
}
// Import theming functions
@import '~@angular/material/theming';

$success: mat-palette($mat-green);
$danger: mat-palette($mat-red);

::ng-deep {
    .mat-snack-bar-success{
        color: #ffffff !important;
        background-color: mat-color($success, 500) !important;
    }
    .mat-snack-bar-danger {
        color: #ffffff !important;
        background-color: mat-color($danger, 500) !important;
    }

    .table-no-record-found {
        background-color: #4359df;
        color: aliceblue;
        text-align: center;
    }

    .mat-cell {
        color: aliceblue;
    }

    .mat-paginator {
        background-color: rgb(67, 89, 223);
    }

    .mat-paginator-page-size {
            width: 250px;
            .mat-form-field-underline {
                color: aliceblue;
            }
    }
    
    .mat-paginator-page-size-label {
        width: 200px;
    }
    
    .mat-list-item {
        /*min-height: 80px !important;*/
        font-size: 10pt !important;
    }

    .mat-paginator-page-size-label {
        color: aliceblue;
    }
    .mat-paginator-range-label {
        color: aliceblue;
    }
    .mat-select-value{
        color: aliceblue;
    }
    .mat-select-arrow {
        color: aliceblue;
    }
}